.menu {
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
	
	background-clip: padding-box;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 6px;
		
	_float: left;
	width: 250px;
	line-height: 16px;
	margin-right: 20px;
}

ul li {
	padding: 8px;
	padding-left: 30px;
	border-bottom: 1px solid #eee;
}

ul li:last-child {
	border-bottom: 0;
}