ul {
	margin: 0;
	padding: 0;
	list-style: none;

	background-clip: padding-box;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 6px;
}

li {
	padding: 8px;
	padding-left: 30px;
	border-bottom: 1px solid #eee;
}

li:last-child {
	border-bottom: 0;
}

li.active {
	font-weight: bold;
}

/*
li.active a {
	text-decoration: underline;
}
*/