* 
{
	margin: 0;
	padding: 0;
}

body 
{
    margin: 0 auto;
    width: 800px;
    text-align: center; /* IE bug */
    font: normal 10px verdana;
	background:#51646e url("/resources/images/bodyBg.gif") repeat-x top left;
    color: #444;
}

h1, h2, h3, h4, h5, p
{
	margin: 4px;
}

a:link, a:visited 
{ 
  	color: #3080CB;
  	text-decoration: none;
  	border-bottom: 1px dotted #68C3EE;
}

a:hover 
{
	color: #444;
}

ul 
{
	padding: 4px;
}

li 
{
	padding: 2px;
	list-style-type: square;
	padding-left: 2px;
	margin-left: 10px;
}

input[type="text"]
{
	border: 1px solid gray;
	padding: 2px;
}

#page 
{
	margin: 0px auto;
	border: 1px solid #f5f5f5;
    text-align: left; /* IE bug */
    overflow: hidden; /* IE bug */
    background-color: white;
    border: 1px solid #ccc;
}

#top, #bottom, #screen 
{
	border: 0px solid red;
	padding: 4px;
	clear: both;
}

#top 
{
	border-bottom: 1px dotted gray;
	padding: 10px;
}

#bottom 
{
	text-align: center;
	padding-top: 25px;
    height: 76px;
    background-image: url('/resources/images/footer.gif');
    background-repeat: repeat-x;
}

#progressIndicator 
{
	display: none;
}

div.clearer 
{		
    clear: both;
	height: 0;
}

.debug 
{
	border: 1px solid red;
	margin: 5px;
    text-align: left; /* IE bug */
}

.debug>h1 
{
	color: white;
	font: bold 12px verdana;
	background-color: red;
	margin: 0px;
	padding: 4px;
}

.stackTrace, .rawText
{
	margin: 10px 0px; 
	padding: 5px; 
	font: normal 9px verdana; 
	white-space: pre;
	overflow: auto;
}

.box 
{
	margin: 2px;
	padding: 4px;	
	border: 1px solid #eee;
}

/*
 * Tables
 */
table.dataGrid 
{
	background: #ddd;
}

table.dataGrid thead th {
	border-bottom: 1px solid #f5f5f5;
	text-align: center;
}


table.dataGrid tfoot td {
	border-top: 1px solid #f5f5f5;
}

table.dataGrid th, td {
	padding: 4px;
	margin: 0px;
	background: white;
}

table.nameValue
{
	border: 1px solid #ccc;
	padding: 0px;
}

table.nameValue th
{
	background: #444;
	color: white;
	padding: 4px;
	font-weight: normal;
}

table.nameValue td:first-child
{
	border-right: 1px solid #ccc;
	background: #f5f5f5;
}
