<html>
	<head>
		<title>Guara Web Application Framework</title>
		<link href="$content.getURI("/resources/css/guara.css")" type="text/css" rel="stylesheet"/> 
	</head>
	<body>
		<div id="page">
			<div id="menu">$templateTool.render("navigations.Menu")</div>
			<div id="screen">$screen_placeholder</div>
		</div>
	</body>
	#debug()
</html>